*{
    justify-content: space-evenly;
    margin: 20px 10px;
}
#down{
    color: black;
    font-size: 40px;
    background-color: green;
    padding: 0px 5px;
    width: 17%;

}
.upload-img{
    color: purple;
    font-size: 200px;
    background-color: rgba(0, 128, 0, 0.692);
    padding: 0px 10px;
}
.full-batt{
    color: rgba(0, 0, 0, 0.747);
    font-size: 200px;
    background-color: wheat;
    padding: 0px 10px;
}
.empty-batt{
    color: red;
    font-size: 200px;
    background-color: wheat;
    padding: 0px 10px;
}
.house{
    color: white;
    font-size: 200px;
    background-color: peru;
    padding: 0px 10px;

}
.icon-file{
    color: pink;
    font-size: 200px;
    background-color: grey;
    padding: 0px 10px;
}
.recycle-img{
    color: gray;
    font-size: 200px;
    background-color: brown;
    padding: 0px 10px;
}
.radio-img{
    color: red;
    font-size: 200px;
    background-color: yellowgreen;
    padding: 0px 10px;
}
.bag-img{
    color: pink;
    font-size: 200px;
    background-color: orangered;
    padding: 0px 10px;
}
.bicycle-img{
    color: black;
    font-size: 200px;
    background-color: green;
    padding: 0px 10px;
}
.full-cup{
    color: chocolate;
    font-size: 200px;
    background-color: skyblue;
    padding: 0px 10px;
}
.alarm-clock{
    color: red;
    font-size: 200px;
    background-color: rgba(165, 42, 42, 0.705);
    padding: 0px 10px;
}
#all-icons{
    background-color: aqua;
    font-size: 50px;
    width: 50%;
    justify-content: first baseline;
}
